<div class="container edituser-container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12 text-center edituser-box">
      <h2 class="field edituser-title">Edit <%= resource_name.to_s.humanize %></h2>
      <%= form_for(resource, as: resource_name, url:
          registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field edituser-txt">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %>
        <div>
          Currently waiting confirmation for: <%= resource.unconfirmed_email
            %>
        </div>
      <% end %>
      <div class="field edituser-txt">
        <%= f.label :password %>
        <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %> <%
            if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div class="field edituser-txt">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete:
            "new-password" %>
      </div>
      <div class="field edituser-txt">
        <%= f.label :current_password %>
        <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete:
            "current-password" %>
      </div>
      <div class="actions edituser-btn"><%= f.submit "Update", class:"btn btn-outline-light" %></div>
      <p class="edituser-txt">
        Unhappy? </p>
      <div class="edituser-btn">
        <%= button_to "Cancel my account",
            registration_path(resource_name), class:"btn btn-outline-light", data: { confirm: "Are you sure?"
            }, method: :delete %>
      </div>
    <% end %>
  </div>
</div>
</div>
