<div class="container signin-container">
  <div class="row justify-content-center">
    <div class="col-4 text-center signin-box">
      <h2 class="signin-title">Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field signin-text">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field signin-text">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <%= render "devise/shared/links" %>
        <% if devise_mapping.rememberable? %>
          <div class="field signin-text">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "Log in", class:"signin-btn btn btn-outline-light" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
