<%= form_with model: activity do |form|%>
  <div class="mb-3">
    <%= form.label :name, class:"new-activity-txt" %>
    <%= form.select(:name, ['Running', 'Walking', 'Cycling', 'Swimming', 'Elliptical', 'Strengh Training', 'Circuit Training', 'Core Strengh', 'Arc Trainer', 'Rowing', 'Hiking', 'Mountain biking', 'Skating', 'Nordic Walking', 'XC Skiing', 'Downhill skiing', 'Snow-boarding', 'Wheelchair'], {include_blank: 'Choose one'}, { :class => 'form-control'}) %>
  </div>
  <div class="mb-3">
    <%= form.label :datetime, class:"new-activity-txt" %>
    <%= form.date_field(:datetime, { :class => 'form-control'}) %>
  </div>
  <div class="mb-3">
    <%= form.label :duration, class:"new-activity-txt" %>
    <%= form.number_field(:duration, { :class => 'form-control'}) %>
  </div>
  <%= form.number_field :user_id, id: :activities_user_id, class:"form-control" , value: current_user.id, type: :hidden %>
  <%= form.submit class: 'btn btn-outline-light mt-5' %>
<% end %>
