<section>
  <h1 class="main-title-activities">Activities</h1>
  <div class="container">
    <table class="table table-responsive table-dark table-striped text-center align-middle">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Activity Name</th>
          <th scope="col">Duration</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |activity|%>
          <tr>
            <td scope="row"> <%= activity.datetime %></td>
            <td> <%= activity.name %></td>
            <td> <%= activity.duration %>mins</td>
            <td>
              <%= button_to "Edit", edit_activity_path(activity), class:"activity-btn-action btn btn-outline-warning btn-sm" %>
              <%= button_to "Delete", activity_path(activity), class:"activity-btn-action btn btn-outline-danger btn-sm", method: :delete, data: {confirm: "are you sure ?"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
